* {
  background-image: none;
}

window {
  background-color: rgba(12, 12, 12, 0.3);
}

button {
  color: #ffffff;
  background-color: rgba(50, 50, 50, 0.7);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 24px;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(10, 10, 10, 0.8);
  outline-style: none;
}

#lock {
  background-image: url("assets/lock.svg");
}

#logout {
  background-image: url("assets/exit.svg");
}

#suspend {
  background-image: url("assets/sleep.svg");
}

#shutdown {
  background-image: url("assets/power.svg");
}

#reboot {
  background-image: url("assets/circle.svg");
}
